@import './scss/abstracts/variables';
@import './scss/abstracts/functions';
@import './scss/abstracts/mixins';

@import './scss/base/reset';
@import './scss/base/typography';

// SCSS components
@import './scss/components/button';

// React components
@import './components/admin/style.scss';
@import './components/admin/events/style.scss';
@import './components/admin/fights/style.scss';
@import './components/admin/player/style.scss';

@import './components/user/style.scss';
@import './components/user/event/style.scss';
@import './components/user/homepage/style.scss';
@import './components/user/predict/style.scss';
@import './components/user/profile/style.scss';

@import './components/userAuth/style.scss';

body {
    font-family: 'Heebo', 'Open Sans', sans-serif;
    text-align: center;

    * {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }
}

.App {
    .App-main {
        margin-top: 70px;
    }

    .Header {
        position: fixed;
        z-index: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: #040404;
        top: 0;

        .logout {
            cursor: pointer;
        }

        .Logo {
            color: white;
            font-size: 32px;
            padding: 10px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
        }

        .top-right>* {
            padding: 10px;
            color: white;
            text-decoration: none;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    .MessagePopUp {
        margin-top: 70px;
        width: 100%;
        position: fixed;
        z-index: 2;
        top: 0;
        color: white;
        background: $color-primary;
        padding: 10px 0;
        text-transform: uppercase;
        font-style: italic;
        animation: fadeIn 3s ease-in both;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }

    20% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    80% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
}



// .eventTitle {
//  font-size: 32px;
// }

// .mainEvent {
//  font-size: 26px;
//  padding: 10px 0;
// }



.ErrorModal {
    color: white;
    background: tomato;
    padding: 10px 30px;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 10px;
    position: fixed;
    z-index: 10;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// ===========================
//           Footer
// ===========================

// .footer {
//  background: #000;
//  padding: 30px 0px;
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//  display: grid;
//  grid-template-columns: 900px auto;
//  color: white;
//  justify-content: left;
//  text-align: left;
//  ul {
//      padding: 5px 0;
//      font-weight: 600;
//  }
//  li {
//      color: grey;
//      font-size: 13px;
//      font-weight: 600;
//      padding: 5px 0;
//  }
// }
// .footer-list {
//  display: grid;
//  grid-template-columns: auto 1fr auto;
//  grid-gap: 20px;
// }

// ===========================
//        players
// ===========================
// .show-players-list {
//  display: flex;
//  justify-content: space-between;
// }

// ===========================
//        banner-page
// ===========================


// https://visme.co/blog/website-color-schemes/


.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}