@import "./components/user/style.scss";

body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	// font-family: 'Yanone Kaffeesatz', sans-serif;
	// font-family: 'Roboto Condensed', 'Roboto', Helvetica, Arial, sans-serif;
	// font-family: "Cuprum", sans-serif;
	font-family: "Heebo", "Open Sans", sans-serif;
}

// Custom SCSS

// ===========================
//           header
// ===========================

.Header {
	// position: fixed;
	// z-index: 1;
	// width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background: black;
}

a {
	text-decoration: none;
}

.Logo {
	font-family: "Roboto";
	color: white;
	font-size: 1.6rem;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
}

.top-right > * {
	padding: 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
}

.App {
	text-align: center;
}

.Event {
	border: 1px solid #666;
	padding: 20px;
}

// .Event img {
// 	width: 30%;
// }

.eventTitle {
	font-size: 32px;
}

.mainEvent {
	font-size: 26px;
	padding: 10px 0;
}

button {
	font-size: 12px;
	padding: 8px 20px;
	/*border: 1px solid #999;*/
	border: none;
	border-radius: 5px;
	background: #370031;
	color: white;
}

// ===========================
//           Footer
// ===========================

.footer {
	background: #000;
	padding: 30px 0px;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 900px auto;
	color: white;
	justify-content: left;
	text-align: left;
	ul {
		padding: 5px 0;
		font-weight: 600;
	}
	li {
		color: grey;
		font-size: 13px;
		font-weight: 600;
		padding: 5px 0;
	}
}
.footer-list {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 20px;
}

// ===========================
//        players
// ===========================
.show-players-list {
	display: flex;
	justify-content: space-between;
}
