h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: black;
  font-weight: 800;
  font-display: bold;
  padding: 30px 0;
  font-family: "Roboto";
}

.main-event-page {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

.fight-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 45% 30% 10%;
      grid-template-columns: 15% 45% 30% 10%;
  padding: 2.5rem 2.5em;
  border: 1px solid #eeeeef;
  margin-left: 20px;
}

.fight-cards:hover {
  -webkit-box-shadow: 0px 0px 18px 8px #eeeeef;
          box-shadow: 0px 0px 18px 8px #eeeeef;
}

.event-title .title {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 10px;
}

.location-info {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.location-info .txt-dec {
  text-align: left;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
}

.location-info p {
  margin: 0;
}

.location-info .title-location {
  width: 100%;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
}

.predict-btn .Prediction-button {
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 10px;
  padding: 8px 20px;
  background: white;
  font-size: 1rem;
  color: black;
  outline: none;
  font-weight: 300;
  border: 1px solid #eeeeef;
}

.predict-btn .Prediction-button:hover {
  background: whitesmoke;
  border-bottom: 1px solid red;
}

.buttons {
  position: relative;
  font-size: 12px;
  outline: none;
}

.buttons .nextfight-btn {
  outline: none;
  background: white;
  border: 2px solid #eeeeef;
  color: gray;
  position: absolute;
  top: 50%;
  right: 0%;
  font-family: "Open Sans", sans-serif;
  -webkit-transform: translate(-25%, 20%);
          transform: translate(-25%, 20%);
}

.buttons .nextfight-btn:hover {
  color: blue;
  border-bottom: 1px solid red;
}

.buttons .prevfight-btn {
  outline: none;
  background: white;
  border: 2px solid #eeeeef;
  color: gray;
  position: absolute;
  top: 50%;
  left: 19%;
  font-family: "Open Sans", sans-serif;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
}

.buttons .prevfight-btn:hover {
  color: blue;
  border-bottom: 1px solid red;
}

.player-images {
  position: relative;
  font-size: 1.6rem;
}

.player-images .player-1 {
  height: 120px;
  width: 150px;
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(0%, -35%);
          transform: translate(0%, -35%);
}

.player-images .player-2 {
  height: 120px;
  width: 150px;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(30%, -35%);
          transform: translate(30%, -35%);
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Cuprum", sans-serif;
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: #710627;
}

a {
  text-decoration: none;
}

.Logo {
  color: white;
  font-size: 32px;
  padding: 10px;
  text-decoration: none;
}

.top-right > * {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.App {
  text-align: center;
}

.Event {
  border: 1px solid #666;
  padding: 20px;
}

.eventTitle {
  font-size: 32px;
}

.mainEvent {
  font-size: 26px;
  padding: 10px 0;
}

button {
  font-size: 12px;
  padding: 8px 20px;
  /*border: 1px solid #999;*/
  border: none;
  border-radius: 5px;
  background: #370031;
  color: white;
}

.footer {
  background: #000;
  padding: 30px 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 900px auto;
      grid-template-columns: 900px auto;
  color: white;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
}

.footer ul {
  padding: 5px 0;
  font-weight: 600;
}

.footer li {
  color: grey;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 0;
}

.footer-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-gap: 20px;
}

.show-players-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=App.css.map */