.btn {
    padding: 13px 30px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-primary {
    background: white;
    color: $color-primary;

    &:hover {
        border-bottom: 3px solid red;
    }
}

.button-secondary {
    background: $color-primary;
    color: white;
}