a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.banner-page {
  background: #802727;
}

.banner-page .banner-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.banner-page img {
  margin-top: 20px;
  height: 350px;
  width: 200px;
  /* top: 55%; */
  /* right: 7%; */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.banner-page .info-section {
  position: relative;
}

.banner-page .info-section .fight-info {
  position: absolute;
  top: 25%;
  left: 25%;
}

.banner-page .info-section .fight-info h1 {
  font-family: "Roboto";
  font-size: 2.3rem;
  color: white;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
}

.banner-page .info-section .fight-info p {
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
  font-size: 1.3rem;
  color: white;
  margin: 15px 0;
  font-weight: 300;
}

.banner-page .info-section .banner-predict-btn {
  background: white;
  color: black;
  padding: 13px 30px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.banner-page .info-section .banner-predict-btn:hover {
  cursor: pointer;
  background: whitesmoke;
  border-bottom: 1px solid red;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: black;
  font-weight: 800;
  font-display: bold;
  padding: 30px 0;
  font-family: "Roboto";
}

.main-event-page {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

.fight-cards {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 45% 30% 10%;
      grid-template-columns: 15% 45% 30% 10%;
  padding: 1rem 1.5rem;
  border: 1px solid #eeeeef;
  margin-left: 20px;
}

.fight-cards:hover {
  -webkit-box-shadow: 0px 0px 18px 8px #eeeeef;
          box-shadow: 0px 0px 18px 8px #eeeeef;
}

.event-title .title {
  margin-top: 4em;
  padding: 0 10px;
  font-size: 1rem;
  text-transform: capitalize;
}

.location-info {
  margin-top: 4em;
  margin-left: 2em;
}

.location-info .txt-dec {
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
}

.location-info p {
  margin: 0;
}

.location-info .title-location {
  width: 100%;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 300;
  margin: 8px 0;
}

.predict-btn .Prediction-button {
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 10px;
  padding: 8px 12px;
  background: white;
  font-size: 13px;
  color: black;
  outline: none;
  font-weight: 300;
  border: 2px solid #eeeeef;
}

.predict-btn .Prediction-button:hover {
  cursor: pointer;
  background: whitesmoke;
  border-bottom: 2px solid red;
}

.buttons {
  outline: none;
}

.buttons .nextfight-btn {
  outline: none;
  background: white;
  border: 2px solid #eeeeef;
  color: black;
  position: absolute;
  top: 34%;
  right: 38%;
  font-family: "Open Sans", sans-serif;
}

.buttons .nextfight-btn:hover {
  cursor: pointer;
  color: blue;
  border-bottom: 2px solid red;
}

.buttons .prevfight-btn {
  outline: none;
  background: white;
  border: 2px solid #eeeeef;
  color: black;
  position: absolute;
  top: 34%;
  left: 16%;
  font-family: "Open Sans", sans-serif;
}

.buttons .prevfight-btn:hover {
  cursor: pointer;
  color: blue;
  border-bottom: 2px solid red;
}

.player-images .image-section .player-1 {
  height: 120px;
  width: 138px;
  /* top: 55%; */
  /* right: 7%; */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.player-images .image-section .player-2 {
  height: 120px;
  width: 138px;
  /* top: 55%; */
  /* right: 7%; */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.player-images .palyers-name {
  font-weight: 400;
  padding: 10px 0;
  color: #5a3c79;
  font-size: 1.1rem;
  text-transform: capitalize;
  margin: 8px 0;
  color: black;
}
/*# sourceMappingURL=style.css.map */