a {
	text-decoration: none;
	color: black;
	font-size: 1rem;
}

// ===========================
//  banner- image - r-2
// ===========================

.banner-page {
	background: rgb(128, 39, 39);

	.banner-image {
		display: grid;
		grid-template-columns: 50% 50%;
	}
	img {
		margin-top: 20px;
		// height: 60vh;
		height: 350px;
		width: 200px;
		/* top: 55%; */
		/* right: 7%; */
		object-fit: cover;
		object-position: top;
	}
	.info-section {
		position: relative;
		.fight-info {
			position: absolute;
			top: 25%;
			left: 25%;

			h1 {
				font-family: "Roboto";
				font-size: 2.3rem;
				color: white;
				margin: 0;
				text-transform: uppercase;
				font-weight: bold;
				padding: 0;
			}
			p {
				font-family: "Nunito", sans-serif;
				text-transform: capitalize;
				font-size: 1.3rem;
				color: white;
				margin: 15px 0;
				font-weight: 300;
			}
		}

		.banner-predict-btn {
			background: white;
			color: black;
			padding: 13px 30px;
			font-size: 1rem;
			font-family: "Open Sans", sans-serif;

			&:hover {
				cursor: pointer;
				background: whitesmoke;
				border-bottom: 1px solid red;
			}
		}
	}
}

// ===========================
//        Fight Cards
// ===========================
h1 {
	font-size: 2rem;
	text-transform: uppercase;
	color: black;
	font-weight: 800;
	font-display: bold;
	padding: 30px 0;
	font-family: "Roboto";
}

.main-event-page {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 70% 30%;
}
.fight-cards {
	position: relative;
	display: grid;
	grid-template-columns: 15% 45% 30% 10%;
	padding: 1rem 1.5rem;
	border: 1px solid #eeeeef;
	margin-left: 20px;
	// margin-top: 15px;
	&:hover {
		box-shadow: 0px 0px 18px 8px #eeeeef;
	}
}

.event-title {
	.title {
		// position: relative;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		margin-top: 4em;
		padding: 0 10px;
		font-size: 1rem;
		text-transform: capitalize;
	}
}

.location-info {
	margin-top: 4em;
	margin-left: 2em;
	.txt-dec {
		text-transform: capitalize;
		font-family: "Nunito", sans-serif;
	}
	p {
		margin: 0;
	}
	.title-location {
		width: 100%;
		font-size: 1rem;
		text-transform: capitalize;
		font-weight: 300;
		margin: 8px 0;
	}
}
.predict-btn {
	.Prediction-button {
		font-family: "Open Sans", sans-serif;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0 10px;
		padding: 8px 12px;
		background: white;
		font-size: 13px;
		color: black;
		outline: none;
		font-weight: 300;
		border: 2px solid#eeeeef;
		&:hover {
			cursor: pointer;
			background: whitesmoke;
			border-bottom: 2px solid red;
		}
	}
}

// ===========================
//   Fight Cards == buttons
// ===========================
.buttons {
	// position: relative;
	// font-size: 12px;
	outline: none;
	.nextfight-btn {
		outline: none;
		background: white;
		border: 2px solid #eeeeef;
		color: black;
		position: absolute;
		top: 34%;
		right: 38%;
		font-family: "Open Sans", sans-serif;
		// left: 50%;
		// transform: translate(-25%, 20%);
		&:hover {
			cursor: pointer;
			color: blue;
			border-bottom: 2px solid red;
		}
	}
	.prevfight-btn {
		outline: none;
		background: white;
		border: 2px solid #eeeeef;
		color: black;
		position: absolute;
		top: 34%;
		left: 16%;
		font-family: "Open Sans", sans-serif;
		// left: 50%;
		// transform: translate(-50%, 20%);
		&:hover {
			cursor: pointer;
			color: blue;
			border-bottom: 2px solid red;
		}
	}
}

// ===========================
//  Fight Cards == user image
// ===========================
.player-images {
	// position: relative;
	// font-size: 1.6rem;
	// padding: 25px;

	.image-section {
		.player-1 {
			height: 120px;
			width: 138px;
			/* top: 55%; */
			/* right: 7%; */
			object-fit: cover;
			object-position: top;
		}
		.player-2 {
			height: 120px;
			width: 138px;
			/* top: 55%; */
			/* right: 7%; */
			object-fit: cover;
			object-position: top;
			// transform: translate(30%, -35%);
		}
	}

	.palyers-name {
		font-weight: 400;
		padding: 10px 0;
		color: #5a3c79;
		font-size: 1.1rem;
		text-transform: capitalize;
		margin: 8px 0;
		color: black;
	}
}
